/* Greys */
$background: white;
$card: grey;
$border: grey;
$grey: grey;
$text: black;

.grey { color: $grey }

/* Colors */
$yellow: yellow;
$green: green;
$red: red;
$blue: blue;
$purple: purple;
$off-white: white;

/* Game */
$bar: blue;
$ball: navy;

/* Fonts */
:root {
	font-size: 17px;
}
$font-size-small: .8rem;
$h5: 1.0rem;
$h4: 1.2rem;
$h3: 1.5rem;
$h2: 1.9rem;
$h1: 2.2rem;

/* Card */
$padding: 1.5rem;
$border-radius: .5rem;

.card {
	background: $card;
	padding: $padding;
	border-radius: $border-radius;
	border: 3px solid $border;
}
