body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 0 0 ;
	background-size: 100vh;
}


button
{
	background-color:#25D9A6;
	border-color: #242040;
	padding: auto;
	color: #242040;
	border-radius: 10px;
	font-size: 1.25rem;
	width: 8vw;
	margin: 1vw;

}
button:hover
{
	background-color:#2CBFA4;
}
button:active
{
	background-color: #5095BF;
	transform: scale(.95);
}

nav
{
	background-color: #242040;
	display: flex;
	flex-direction: row;
	justify-content: start;
	height: 10vh;
}

.MessageRoom
{
	display: flex;
	flex-direction: row;
}

.ul_room
{
	padding: 0;
	order: 1;
	margin: 0;
	border-width: 2px;
	border-style: solid;
	height: 65vh;
	border-color: #242040;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ul_messages
{
	order: 97;
	height: 65vh;
	width: 100%;
	display: flex;
	margin: 0;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;

}

.ul_message_me
{
	margin-left: 50%;
	border-radius: 5px;
	background-color: #25D9A6;
	padding: auto;
	width: 50%;
}

.ul_message_other
{
	justify-content: left;
	-ms-flex-align: start;
	border-radius: 5px;
	background-color: #242040;
	padding: auto;
	width: 50%;
}

.ul_messages::-webkit-scrollbar 
{
	width: 12px;
	background-color: #2420409c;
}
.ul_room::-webkit-scrollbar
{
	width: 12px;
	background-color: #2420409c;
}

.BtnRoom
{
	background-color:#5094bf;
	border-width: 0;
	width: 100%;
	margin: 0;
	border-radius: 0;
}
.BtnRoom:hover
{
	background-color: #41789b;
}

.Page
{
	background-color:#5095BF;
	margin: 5vh;
	height: 80vh;
	border-radius: 10px;

}

.PageLoggin
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


@media only screen and (max-width: 1024px) 
{
	button
	{
		font-size: 1rem;
	}
}
