body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 0 0 ;
	background-size: 100vh;
}

button
{
	background-color:#25D9A6;
	border-color: #242040;
	padding: auto;
	color: #242040;
	border-radius: 10px;
	font-size: 1.25rem;
	width: 8vw;
	margin: 1vw;
}
button:hover
{
	background-color:#2CBFA4;
}
button:active
{
	background-color: #5095BF;
	transform: scale(.95);
}
.BTN_OTHER
{
	flex-grow: 100;
}
.BTN_PROFILE
{
	flex-grow: 1;
}
nav
{
	background-color: #242040;
	display: flex;
	flex-direction: row;
	justify-content: start;
	height: 10vh;
}

.Page
{
	background-color:#5095BF;
	margin: 5vh;
	height: 80vh;
	border-radius: 10px;
}

@media only screen and (max-width: 1024px) 
{
	button
	{
		font-size: 1rem;
	}
}